body {
    /* background-image:url('../images/notepad-dark.webp'); */
    background-image:url('../images/desk-light.jpg');
}

.deck-link {
    padding-left: 60px;
}

.header {
    padding-left: 30px;
}

.signup-container {
    padding-left: 20px;
}

.login-container {
    padding-left: 20px;
}

.make-deck-container {
    padding-left: 20px;
}

.make-card-container {
    padding-left: 20px;
}

.body {
    background-image:url('../images/notepad-dark.webp');
    /* background-image:url('../images/desk-light.jpg'); */
    background-size: 100%;
    margin-top: -30px;
}

.flashcard {
    width: 80%;
    max-width: 350px;
    height: 250px;
    /* background-image: url('../images/notepad-dark.webp'); */
    /* background-image: url('../images/notecards.jpg'); */
    background-size: 100% 100%;
    margin: auto;
    margin-top: 160px;
    margin-bottom: 30px;
    border: dotted 1px black;
    border-radius: 25px;
}

.card-back {
    display: none;
}

.text {
    text-align: center;
}

.card-front {
    font-size: 25px;
    font-weight: bold;
    line-height: 200px;
}

.title {
    color: white;
    padding-top: 10px;
}

/* .links {

} */

/* a {
    background-color:black
} */