{% extends 'base.html' %}

{% block content %}

<div class="body">
    <div class="title">
        <h1>{{deck_obj}}</h1>
    </div>

    <ul id="links">
        <li>
            <a class="links" href="{% url 'make_card' deck_obj.pk %}">Add Card</a>
        </li>
        <li>
            <a class="links" href="{% url 'edit_deck' deck_obj.pk %}">Edit Deck</a>
        </li>
    </ul>

    <div class="flashcard">
        <div class="card-front text">
            <!-- <p>Front</p> -->
            <p>{{card_obj.front}}</p>
        </div>
        <div class="card-back text">
            <!-- <p>Back</p> -->
            <p>{{card_obj.back}}</p>
        </div>
    </div>

    <div class="flashcard-actions text">
    {% if card_obj %}
        {% if card_obj.has_prev_card %}
            <a href="{% url 'view_deck' deck_obj.pk %}?card={{card_obj.get_prev_card.pk}}">Prev</a>
        {% endif %}
        {% if card_obj.has_next_card %}
            <a href="{% url 'view_deck' deck_obj.pk %}?card={{card_obj.get_next_card.pk}}">Next</a>
        {% endif %}
        {% if card_obj %}
            <a href="{% url 'edit_card' card_obj.pk %}">Edit</a>
        {% endif %}
    {% endif %}
    </div>
    <br>

</div>

{% endblock %}